.App {
  text-align: center;
}
.bgColor{
  background-color: #0eb493;
}
.textColor{
  color: #fff;
}
.statusBtn_A,.statusBtn_R,.statusBtn_I,.statusBtn_P{
  width: 110px;
    display: block;
    text-align: center;
    border-radius: 3px;
    padding: 5px;
    color: #fff;
    font-weight: 500;
    /* cursor: pointer; */
}
.statusBtn_A{background-color: #0eb493;}.statusBtn_R{background-color:#f44336;}.statusBtn_I{background-color: #579bf2;}.statusBtn_P{background-color: #fbfbc6;color:#474747 ;}
.textFont{
 font-size: 10pt;
 font-weight: 500;
 width: 110px;
}
.iconBg{
  color: #fff;
    background-color: #0eb493;
    padding: 5px 7px;
    border-radius: 50%;
    margin-right: 5px;
}
.me-2 {
  margin-right: 0.5rem!important;
}
.btn-outline-primary,.btn-primary{
  --bs-btn-color: #0eb493!important;
  --bs-btn-border-color: #0eb493!important;
  --bs-btn-hover-color: #fff!important;
  --bs-btn-hover-bg: #0eb493!important;
  --bs-btn-hover-border-color: #0eb493!important;
  --bs-btn-focus-shadow-rgb: 13,110,253!important;
  --bs-btn-active-color: #fff!important;
  --bs-btn-active-bg: #0eb493!important;
  --bs-btn-active-border-color: #0eb493!important;
  --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125)!important;
  --bs-btn-disabled-color: #0eb493!important;
  --bs-btn-disabled-bg: transparent!important;
  --bs-btn-disabled-border-color: #0eb493!important;  
  --bs-gradient: none;
}
.btn-primary{
  --bs-btn-color: #fff!important;
  --bs-btn-bg: #0eb493;
}
.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  pointer-events: none;
}
.projectTitle{
  height: 100px;
    padding: 20px 25px;
    background-color: rgba(0, 0, 0, 0.25);
    color: rgb(254, 254, 254);
    line-height: 10px;
    position: absolute;
   
    bottom: 190px;
    left: 30px;
    margin: auto;
    border-radius: 5px;
}
.projectTitle h3{
  font-size: 32pt;
  text-shadow: 1px 2px 4px #222;
  font-family: inherit;
    line-height: 55px;
    letter-spacing: 1.5px;
}
.loginpage{
  width: 400px;
  height: 66vh;
  position: absolute;
  top: 16vh;
right: 30px;
background-color: #fff;
border-radius: 5px;
}
.loginpage h4{
  text-align: left;
    font-size: 15pt;
    padding: 15px 0px 15px 20px;
    background-color: #0eb493;
    color: #fff;
    border-radius: 5px 5px 0px 0px;
}
.logo2{
  width: 180px;
    background-size: contain;
    height: 35px;
    background-repeat: no-repeat;
    background-position:5px center;
    text-align: right;
  
}
.logo3{
  margin: 21px 0px 0px 12px;
  padding-bottom: 25px;
  border-bottom: 1px solid #fff;
}
.navbarbrand{
  float: left;
}
.rowSpace{
  padding-left: 0;
  padding-right: 0;
}
.navbarbrand span{ 
  font-size: 20pt;
  font-weight: 500;
  color: #fff;
  margin-top: 15px;
  display: inline-block;
  margin-left: 15px;
  text-shadow: 0px 1px 1px #222;
}
.navbarbrand2 span{
  font-size: 15pt;
  font-weight: 600;
  color: #fff;
  display: block;
  text-shadow: 0px 1px 1px #222;
  border-bottom: 1px solid #fff;
  padding: 15px 0px;
  text-align: center;
  background-color: #404040;
}
.back2{
  width: 280px;
}
.navbarnav{
  list-style: none;
  float: right;
  margin-top: 19px!important;
  margin-right: 25px;  
}
.nav-item i,.nav-item span{
  margin-left: 10px;
}
.nav-item span{
  font-size: 12pt;
}
.navbarnav li{
  display: inline-block;
  width: 120px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  color: #fff;
  font-size: 12pt;
  text-shadow: 0px 0px 1px #222;
  
}
.navbarnav li a:hover{
  background-color: #fff;
  color: #0eb493;
  text-shadow: 0px 0px 1px #ccc;
}
.pagesize{
  height: 100%;
}
.pageMargin{
  margin-right: 0px;
}
.footers{
  width: 100%;
  height: 80px;
  line-height: 80px;
  text-align: center;
  background-color: #222;
  color: #fff;
}
.navbar-nav-side{
  min-height: calc(100vh - 80px);
  max-height: 100vh;
  position: relative;
  background-color: #0eb493;
}
.navbar-nav-side .buttons {
  text-align: center;
}
.navbar-nav-side .buttons button{
     bottom: 30px;
     left: 9%;
     width: 86%;
     background-color: #fff;
     color: #0eb493;
     font-weight: 500;
     height: 38px;
     border: 0;
     box-shadow: 0px 0px 3px #000;
     font-size: 14pt;
     text-align: center;
     margin-top: 15px;
     margin-left: 8px;
}
.saveBtn{
 float: right;
  width: 180px;
  margin-bottom: 15px;
  margin-right: 15px;
  background-color: #0eb493;
  color: #fff;
  font-weight: 500;
  height: 38px;
  border: 0;
  box-shadow: 0px 0px 3px #000;
  font-size: 13pt;
}
.timesheetlink{
  background-color: #579bf2;
    color: #fff;
    padding: 2px 5px;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 3px;
}
.verticalAlign{
  vertical-align: middle;
}
.hrsinput{
  width: 50px;
    text-align: right;
    border: 0;
}
.hrsinput:focus-visible{
  outline-width: 0!important;
}
.navbar-nav-side li a{
  color: #fff;
  text-shadow: 0px 1px 1px rgb(202, 202, 202);
  font-size: 14pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-bottom: 1px solid;
  text-decoration: none;
  display: block;
  padding:10px 15px;
}
.status_btn{
  background-color: #0eb493;
    color: #fff;
    padding: 3px 8px;
    border-radius: 5px;
    cursor: pointer;
}
.status_btn_reject{
  background-color:  #f44336;
    color: #fff;
    padding: 3px 8px;
    border-radius: 5px;
    cursor: pointer;
 
}
.datanotfound{
  height: calc(100vh - 230px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.datanotfoundIcon{
  font-size: 36pt;
  color: #0eb493;
  margin-right: 8px;
}

.status_reject{
color: #f44336;
font-weight: 500;
padding: 3px 8px;
}
.status_normal{
  color: #0eb493;
  font-weight: 500;
  padding: 3px 8px;
}
.profiles{
  position: relative;
}
.profileedit{
  position: absolute;
  left: 120px;
  top: 35px;
  font-size: 14pt;
  cursor: pointer;
}
.profilebtn{
  position: absolute;
    top: 50px;
    right: 0;
    padding: 5px 8px;
    border-radius: 2px;
    justify-content: space-around;
    align-items: center;
    display: flex;
}
.profilebtn3{
  position: absolute;
  top: 46px;
    left: 152px;
  padding: 5px 8px;
  border-radius: 2px;
  justify-content: space-around;
  align-items: center;
  display: flex;
}
.profilebtn2{
    padding: 5px 8px;
    border-radius: 4px!important;
    justify-content: space-around;
    align-items: center;
    display: flex;
    min-width: 160px;
}
.errormsg{
  font-size: 12pt;
  text-align: left;
  color: #f44336;
}
.profilebtn2:hover{
  background-color: #079c7e;
}
.profileimage{
  font-size: 60pt;
    text-align: center;
    margin: auto;
    border: 1px solid;
    border-radius: 50%;
    padding: 2px 20px;
}
.profileimage2{
  width: 120px;
  height: 120px;
    text-align: center;
    margin: auto;
    border: 1px solid;
    border-radius: 50%;
    padding: 0px;
}
.profileimage3{
  width: 42px;
    height: 42px;
    text-align: center;
    margin: auto;
    border: 1px solid;
    border-radius: 5%;
    padding: 0px;
}
.commentsclass::-webkit-input-placeholder {
  color: red
}
.commentsclass2::-webkit-input-placeholder {
  color: #ccc
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 0px 10px;
  cursor: pointer;
}
.upload-btn-wrapper input[type=file] {
  font-size: 75px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  cursor: pointer;
}
.navbar-nav-side li a:hover{
  background-color: #fff;
  color: #0eb493;
}
.loadingbg{
  background-color: #fff;
  color: #474747;
  border-bottom: 4px solid #0eb493;
  padding: 10px 25px 3px 25px;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0px 7px 0px 0px #0eb493;  
}
.badge-pill{
  background-color: #0eb493;
    color: #fff;
    border-radius: 25%;
    margin-right: 10px;
    padding: 0px 5px;
}
.badge-pill-right{
  float: right;
  background-color: #474747;
  color: #fff;
    width: 75px;
    border-radius: 2px;
    text-align: right;
    margin-right: 10px;
    padding: 0px 5px;
}
.item-right{
  background-color: #0eb493;
    color: #fff;
    text-align: right;
    padding: 2px 4px;
    display: block;
    margin-right: 10px;
    font-weight: bold;
}
.list-total{
  width: 90px;
    display: block;
    float: right;
    padding-right: 15px;
    padding-left: 5px;
    font-weight: bold;
}
.csvbtn{
    width: 100%;
    height: 40px;
    border: 0;
    background: #e9ecef;
}
.csvbtnselected{
  width: 100%;
  height: 40px;
  border: 0;
  background-color: #0eb493;
    color: #fff;
}
.csvbtn:hover{
box-shadow: 0px 0px 8px 2px #ccc;
}
 .csvbtnselected:hover{
  box-shadow: 0px 0px 8px 2px #0eb493;
  }
  .csvicon{
    color: rgb(14 180 147);
    margin-right: 8px;
    font-size: 20px;
    float: left;
    background-color: #fff;
    border-radius: 50%;
    padding: 4px 6px;
    vertical-align: middle;
    display: flex;
  }
  .csviconnormal{
    color: rgb(233 236 239);
    margin-right: 8px;
    font-size: 20px;
    float: left;
    background-color: #e9ecef;
    border-radius: 50%;
    padding: 4px 6px;
    vertical-align: middle;
    display: flex;
}
  
.list{
  margin: 0;
  padding: 0;
  list-style: none;
}
.list-item{
  margin-bottom: 1px;
}
.inputSize input,.inputSize textarea{
  height: 38px;
  font-size: 10pt;
}
.inputSize-1{
  width: 52px;
}
.textareaSize-1{
  width: 260px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.btn {
  --bs-btn-padding-x: 0.3rem!important;
  --bs-btn-padding-y: 0.04rem!important;
}
.btn i{
  font-size: 13.5px;
}
.tabletext {
  font-size: 10pt;
}
.userimage tr{
  vertical-align: middle;
}
dt {
  font-weight: 600!important;
}
.userimage2{
  width: 105px;
  height: auto;
}
.table>:not(caption)>*>* {
  padding: .40rem .4rem!important;
}
/* .tabletimesheet .table tr td {
  padding: .40rem .15rem!important;
} */
.App-link {
  color: #61dafb;
}
.timesheettable thead tr{
  background-color: #4e4e4e;
  color: #fff;
}
.timesheettable tbody tr td:nth-child(2),.timesheettable tbody tr td:nth-child(3){
background-color: rgb(246, 251, 234);
}
.timesheettable tbody tr td:nth-child(4),.timesheettable tbody tr td:nth-child(5){
  background-color: rgb(193, 253, 189);
  }
  .timesheettable tbody tr td:nth-child(6),.timesheettable tbody tr td:nth-child(7){
    background-color: rgb(215, 224, 255);
    }
.dateStyle{
  border-radius: 5px;
    font-size: 9.5pt;
    padding: 3px 0px;
    margin: auto;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loader {
  width: 20px;
  height: 12px;
  display: block;
  margin:5px  auto;
  position: relative;
  border-radius: 4px;
  color: #ff441b;
  background: currentColor;
  box-sizing: border-box;
  animation: animloader 0.6s 0.3s ease infinite alternate;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  width: 20px;
  height: 12px;
  background: currentColor;
  position: absolute;
  border-radius: 4px;
  top: 0;
  right: 110%;
  animation: animloader  0.6s ease infinite alternate;
}
.loader::after {
  left: 110%;
  right: auto;
  animation-delay: 0.6s;
}

@keyframes animloader {
  0% {
    width: 20px;
  }
  100% {
    width: 48px;
  }
}
 